    <table class="table table-striped table-hover">
  <tbody>
     <tr>   <td > 
          <select id="select">
             <option ng-repeat="todo in listado" value="{{todo.nombre}}">{{todo.nombre}}  </option>
          </select>
      
      </td>
      <td> <button ng-click="getServicios()">Mostrar Servicios</button></td>
    </tr>
  </tbody>
   
  
     <table class="table table-striped table-hover">
  <tbody>
    <tr ng-repeat="s in servicios">
      <td>{{s.nombre}}  </td>
    </tr>
  </tbody>
</table>
