    <table class="table table-striped table-hover">
  <tbody>
     <tr>   <td > 
          <select id="select">
             <option ng-repeat="todo in listado" value="{{todo.nombre}}">{{todo.nombre}}  </option>
          </select>
      
      </td>
      <td> <button ng-click="getServicios()">Mostrar Servicios</button></td>
    </tr>
    <tr>
          <center>
          <td>Nombre</td></center>          <center>
          <td>Precio</td></center>          <center>
          <td>Descripcion</td></center>          <center>
          <td>Tamano</td></center>          <center>
      </tr>
    <tr ng-repeat="s in servis">
      <td>{{s.nombre}}</td>
      <td>{{s.precio}}</td>
      <td>{{s.descripcion}}</td>
      <td>{{s.tamano}}</td>
    </tr>
  </tbody>
</table>