    

<div class="form-group">
    <label for="usuario"> Usuario</label> <input type="text"
                                                 class="form-control" ng-model="usuario">
</div>

<div><label>Tiendas: </label></div>

<select id="select" ng-model="tienda">
    <option ng-repeat="todoT in listadoTiendas" value="{{todoT.nombre}}">{{todoT.nombre}}  </option>
</select>

<button ng-click="getServicios()">Continuar</button>

<select id="select1" ng-model="servicio">
    <option ng-repeat="todoS in listadoServicios" value="{{todoS.idServicios}}">{{todoS.nombre}}</option>
</select>

<select id="select2">
    <option ng-repeat="todoH in listadoHorarios" value="{{todoH.fecha}}">{{todoH.fecha}}  </option>
</select>

<!--Servicios <button ng-click="agregarServicio()"> Agregar </button>-->

<button ng-click="agendar()">Agendar</button>

