    

<div class="form-group">
    <label for="usuario"> Usuario</label> <input type="text"
                                                 class="form-control" ng-model="usuario">
</div>

<div><label>Tiendas: </label></div>

<select id="select" ng-model="tienda">
    <option ng-repeat="todoT in listadoTiendas" value="{{todoT.id.id}}">{{todoT.nombre}}  </option>
</select>

<button ng-click="getServicios()">Continuar</button>

<select id="select1" ng-model="servicio">
    <option ng-repeat="todoS in listadoServicios" value="{{todoS.idServicios}}">{{todoS.nombre}}</option>
</select>

<button ng-click="getHoraCitas()">Continuar</button>

<select id="select2" ng-model="cita">
    <option ng-repeat="todoH in citas" value="{{citas.fecha}}">{{todoH.fecha}} {{todoH.hora}}</option>
</select>

<!--Servicios <button ng-click="agregarServicio()"> Agregar </button>-->

<button ng-click="agendar()">Agendar</button>

