
<div  ng-show="authenticated">
	Tablaaaaaaaaaaaaa
    <table class="table table-striped table-hover">
  <tbody>
      <tr>
          <center>

          <td>Tienda</td></center>          <center>
          <td>Nombre</td></center>          <center>
          <td>Precio</td></center>          <center>
          <td>Descripcion</td></center>          <center>
          <td>Tamaño</td></center>          <center>
          <td>Agregar</td></center>       
      </tr>
    <tr>
      <td > 
          <select id="select">
             <option ng-repeat="todo in listado" value="{{todo.nombre}}">{{todo.nombre}}  </option>
          </select>
      
      </td>
      
      
      <td><input type="text" ng-model="nombre"></td>
      <td><input type="number" ng-model="precio"></td>
      <td><input type="text" ng-model="descripcion"></td>
      <td><input type="text" ng-model="tamano"></td>
      <td> <button ng-click="agregarServicio()">Agregar Servicio</button></td>
    </tr>
  </tbody>
</table>

</div>
<div  ng-show="!authenticated">
    Tiene que ingresar primero
</div>
